body {
    font-family : 'Roboto', sans-serif;
    font-size   : 0.9em;
}

td.details-control {
    background : url('chrome-extension://__MSG_@@extension_id__/images/details_open.png') no-repeat center center;
    cursor     : pointer;
}

tr.shown td.details-control {
    background : url('chrome-extension://__MSG_@@extension_id__/images/details_close.png') no-repeat center center;
}

.acs-content-div {
}

.acs-table-div {
    padding : 20px;
}

.acs-logo-bg {
    background : url('chrome-extension://__MSG_@@extension_id__/images/logo_bg.png');
    height     : 75px;
    margin     : -10px -10px 40px;
}

.acs-logo {
    background : url('chrome-extension://__MSG_@@extension_id__/images/logo_flat.png') no-repeat left;
    height     : 75px;
}

.acs-credits {
    color     : #585858;
    font-size : 0.8em;
}

td {
    font-size : 0.9em;
}

th {
    font-size : 1.0em;
}

pre {
    font-size : 1.2em;
}
